{% extends "dictionarysite/base.html" %}

{% block title %}
    main page
{% endblock %}

{% block content %}
    <ul class="">
        <li class="">Если у вас нет аккаунта <a href="{% url 'account_signup' %}">Зарегистрируйтесь</a> или <a href="/accounts/vk/login/?process=login/">Войдите с помощью ВК</a></li>
        <li class="">Если у вас есть аккаунт <a href="{% url 'account_login' %}">Войдите</a></li>
        <li class="">Выберете языки, на которых будете вести словарик</li>
        <li class="">Добавляйте слова в словарик</li>
        <li class="">Учитесь!</li>
    </ul>
{% endblock %}
