{% extends "dictionarysite/base.html" %}

{% block title %}
    Словарь
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row text-container">
            <div class="col-12 justify-content-center">
                <h4 class="text-center">
                    <a href="{% url 'account_login' %}">Войдите</a>
                    <a href="/accounts/vk/login/?process=login/"><img class="width-32px" src="/static/img/vk.png" alt=""></a>
                </h4>
                <h4 class="text-center">или</h4>
                <h4 class="text-center"><a href="{% url 'account_signup' %}">Зарегистрируйтесь</a></h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
