{% extends "dictionarysite/base.html" %}

{% block title %}
    Удалить {{ group.name }}?
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="h3 text-center col-12">Удалить группу "{{ group.name }}" и все связанные с ней слова?</div>
            <div class="mt-3 row col-12">
                <div class="col-4"></div>
                <button type="submit" class="btn btn-success col-4" id="delete_button">Удалить</button>
                <div class="col-4"></div>
            </div>
        </div>
    </form>
{% endblock %}
