{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block title %} Выход {% endblock %}


{% block content %}

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-xs-0 col-sm-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <div class="row">
        <h1 class="col-12 text-center">{% trans "Sign Out" %}</h1>
        <p class="col-12 text-center">{% trans 'Are you sure you want to sign out?' %}</p>
        {% if redirect_field_value %}
        <input class="col-12" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="row col-12">
          <div class="col-2"></div>
          <button type="submit" class="col-8 btn btn-success" id="logout_button">{% trans 'Sign Out' %}</button>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-lg-3"></div>
  </div>
</form>

{% endblock %}
