{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load crispy_forms_tags %}

{% block title %} Регистрация {% endblock %}


{% block content %}

<div class="row">
  <div class="col-xs-0 col-sm-2 col-lg-3"></div>
  <div class="col-xs-12 col-sm-8 col-lg-6">
    <div class="row">
      <h1 class="col-12 text-center mb-3">{% trans "Sign Up" %}</h1>
      <p class="col-12 text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      <div class="col-12">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.username|as_crispy_field }}
          {{ form.email|as_crispy_field }}
          {{ form.password1|as_crispy_field }}
          {{ form.password2|as_crispy_field }}
          <div class="row col-12 mt-3">
            <div class="col-2"></div>
            <button type="submit" class="primaryAction col-8 btn btn-success" id="save_button">{% trans "Sign Up" %} &raquo;</button>
            <div class="col-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-2 col-lg-3"></div>
</div>

{% endblock %}
