{% extends "dictionarysite/base.html" %}

{% block title %}
    Языки
{% endblock %}

{% block content %}

    <div class="col-12 text-center">
        <a href="{% url 'create_language_url' %}" class="center btn-center btn btn-warning" id="add_new_word">
            <h5>Создать язык</h5>
        </a>
    </div>

    {% include 'dictionarysite/includes/card_list.html' with card_template_path='dictionarysite/includes/card_language.html' object_list=language_list detail_link='detail_language_url' delete_link='delete_language_url' update_link='update_language_url' %}

{% endblock %}
