<div class="word_card">
    <div class="word_card-word">
        {{ word.word }}
    </div>
    <div class="word_card-translations">
        {{ word.translation }}
    </div>
    <div class="word_card-rank">
        <span>rank: </span> {{ word.rank }}
    </div>
    <div class="word_card-priority">
        <span>priority: </span>{{ word.priority }}
    </div>
    <div class="word_card-date_time">
        {{ word.creation_date_time }}
    </div>
    <div class="word_card-note">
         {{ word.note }}
    </div>
</div>
